@font-face {
  font-family: "MontserratRegular";
  src: url('./fonts/Montserrat-Medium.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MontserratBold";
  src: url('./fonts/Montserrat-Bold.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  margin: 0;
  font-family: "MontserratRegular", sans-serif;
}

h1 {
  font-family: "MontserratBold", sans-serif;
}

